body, html {
  height: 100%;
}

body {
  padding-top: 50px;
}

.navbar {
  background-color: black;
}

.container {
  background-color: white;
}

.title {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.col-md p, .col-md-10 p {
  font-family: 'serif';
  text-align: justify;
  font-size: 120%;
}

#pc {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 100%;
  color: #212529;
}

.footer .container, .footer {
  background-color: black;
}