body, html {
  height: 100%;
  background-image: url('./pictures/network-3357642_1920.jpg');
}

body {
  padding-top: 50px;
}

.navbar {
  background-color: black;
}

.container {
  background-color: black;
}

.title {
  padding-top: 5%;
  padding-bottom: 5%;
  color: gray;
  text-align: center;
}

p {
  font-family: 'Times New Roman';
  text-align: justify;
  font-size: 120%;
  color: gray;
}