body, html {
  height: 100%;
}
  
body {
  padding-top: 50px;
}
  
.navbar {
  background-color: black;
}

.container {
  background-color: white;
}

.title {
  padding-top: 5%;
  text-align: center;
}

.subtitle {
  padding-bottom: 5%;
  color: gray;
  text-align: center;
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

.col-md p {
  font-family: 'serif';
  font-size: 120%;
  text-align: justify;
}

.footer .container, .footer {
  background-color: black;
}