body, html {
  height: 100%;
}
  
body {
  padding-top: 50px;
}
  
.navbar {
  background-color: #212529;
}

.container {
  background-color: white;
}

.title {
  padding-top: 5%;
  text-align: center;
}

.subtitle {
  padding-bottom: 5%;
  color: gray;
  text-align: center;
}

.text {
  padding-top: 1%;
}

.col-md-9 p {
  font-family: 'serif';
  font-size: 120%;
  text-align: justify;
}

.footer .container, .footer {
  background-color: black;
}