body, html {
  height: 100%;
  background-image: url('./pictures/network-3357642_1920.jpg');
}
  
body {
  padding-top: 50px;
}
  
.navbar {
  background-color: black;
}

.container {
  background-color: black;
}

.title {
  padding-top: 5%;
  padding-bottom: 5%;
  color: gray;
  text-align: center;
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

.col-md p {
  color: gray;
  font-family: 'Times New Roman';
  font-size: 120%;
  text-align: justify;
}

.footer {
  background-color: black;
}