body, html {
  height: 100%;
  margin: 0;
  background-color: black;
}

.jumbotron {
  background: #34e89e;
  background: -webkit-linear-gradient(to left, #0f3443, #34e89e);
  background: linear-gradient(to left, #0f3443, #34e89e);
  color: white;
  margin: 0;
}