body, html {
  margin: 0;
  background-color: black;
  font-family: 'Slabo 27px', serif;
  font-size: 105%;
}

.navbar {
  background-color: #212529;
}

.jumbotron {
  background: #348F50;
  background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
  background: linear-gradient(to right, #56B4D3, #348F50);
  color: white;
  margin: 0;
  text-align: justify;
}

code {
  background-color: white;
}

.collapse {
  margin-bottom: 5%;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#menu {
  position: fixed;
  z-index: 1;
  right: 10%;
  top: 30%;
}

#menu li {
  list-style-type: none;
  margin-bottom: 15%;
}

a {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

a:hover {
  background-color: black;
}

@media screen and (max-width: 800px) {
  #menu {
    visibility: hidden;
  }
  body {
    padding-top: 50px;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    visibility: hidden;
  }
}