body, html {
  margin: 0;
  background-color: black;
  font-family: 'Slabo 27px', serif;
  font-size: 105%;
}
  
.navbar {
  background-color: #212529;
}

.jumbotron {
  background: #23074d;
  background: -webkit-linear-gradient(to right, #cc5333, #23074d);
  background: linear-gradient(to right, #cc5333, #23074d);
  color: white;
  margin: 0;
  text-align: justify;
}
  
code {
  background-color: white;
}

.margin_bottom {
  margin-bottom: 5%;
}
  
#menu {
  position: fixed;
  z-index: 1;
  right: 10%;
  top: 30%;
}
  
#menu li {
  list-style-type: none;
  margin-bottom: 15%;
}
  
#menu a {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
  
.link {
  color: aqua;
  text-decoration: underline;
  text-decoration-color: aqua;
}
  
a:hover {
  background-color: black;
}
  
@media screen and (max-width: 800px) {
  #menu {
    visibility: hidden;
  }
  body {
    padding-top: 50px;
  }
}
  
@media screen and (min-width: 800px) {
  .navbar {
    visibility: hidden;
  }
}