body, html {
  height: 100%;
  margin: 0;
}

.navbar {
  background-color: #212529;
}

.bg {
  background: url('./pictures/web-design-2038872_1920.jpg') no-repeat fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  background-color: white;
  opacity: 0.9;
}

.bg h1 {
  font-size: 9vh;
}

.jumbotron {
  background-color: white;
}

.about-section {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

#title-about {
  text-align: center;
  margin-bottom: 2%;
}

.col-md-5 p, .col-md-9 p {
  font-family: 'serif';
  text-align: justify;
  font-size: 110%;
}

.col-md-4 {
  background-color: rgba(236, 230, 230, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#pc {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 100%;
  color: gray;
}

.footer {
  background-color: black;
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#back2Top:hover {
  background-color: #DDF;
  color: #000;
}