body, html {
  height: 100%;
  margin: 0;
}

.navbar {
  background-color: black;
}

.bg {
  background-image: url('./pictures/web-design-2038872_1920.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  background-color: white;
  opacity: 0.9;
}

h1, h2 {
  font-size: 10vh;
}