body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  font-family: 'Slabo 27px', serif;
  font-size: 105%;
}

.navbar {
  background-color: #212529;
}

#home, #intro, #about, #critique, #tutorials, #links, #contact, #misc {
  color: white;
}

.jumbotron {
  margin: 0;
}

.bg {
  background: #360033;
  background: -webkit-linear-gradient(to right, #0b8793, #360033);
  background: linear-gradient(to right, #0b8793, #360033);
  height: 100%;
}

.bg h1 {
  font-size: 9vh;
}

#intro {
  background: -webkit-linear-gradient(90deg, rgb(11, 144, 128), rgb(54, 0, 68));
  background: linear-gradient(90deg, rgb(11, 144, 128), rgb(54, 0, 68));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

#about {
  background: -webkit-linear-gradient(90deg, rgb(11, 159, 159), rgb(54, 0, 85));
  background: linear-gradient(90deg, rgb(11, 159, 159), rgb(54, 0, 85)); 
}

.col-sm-4, .col-sm-6, .col-sm-7 {
  text-align: justify;
  margin-left: 2%;
}

#critique {
  background: -webkit-linear-gradient(90deg, rgb(22, 189, 166), rgb(30, 2, 67));
  background: linear-gradient(90deg, rgb(22, 189, 166), rgb(30, 2, 67));
}

.critique-article {
  margin-bottom: 5%;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  color: white;
}

#tutorials {
  background: -webkit-linear-gradient(90deg, rgb(22, 189, 129), rgb(16, 2, 67));
  background: linear-gradient(90deg, rgb(22, 189, 129), rgb(16, 2, 67));
}

.tutorial-article {
  margin-bottom: 5%;
}

#links {
  background: -webkit-linear-gradient(90deg, rgb(22, 189, 86), rgb(2, 20, 67));
  background: linear-gradient(90deg, rgb(22, 189, 86), rgb(2, 20, 67));
}

#links .col-sm-6 {
  border-bottom: 2px solid gray;
}

#learning {
  border-top: 2px solid gray;
}

.links_list {
  margin-top: 5%;
}

.links_list li {
  margin-bottom: 0;
}

#misc {
  background: -webkit-linear-gradient(90deg, rgb(21, 183, 41), rgb(4, 24, 76));
  background: linear-gradient(90deg, rgb(21, 183, 41), rgb(4, 24, 76));
  height: 100%;
}

#misc-div, #contact-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
}

#contact {
  background: -webkit-linear-gradient(90deg, rgb(42, 172, 20), rgb(6, 35, 89));
  background: linear-gradient(90deg, rgb(42, 172, 20), rgb(6, 35, 89));
}

#contact-div p {
  margin-top: 4%;
}

#profile {
  width: 15%;
  border-radius: 100%;
  border: 1px black solid;
  display: block;
  margin: 0 auto;
}

code {
  color: black;
  background-color: white;
}

#menu {
  position: fixed;
  z-index: 1;
  right: 10%;
  top: 30%;
}

li {
  list-style-type: none;
  margin-bottom: 15%;
}

.active, a:hover  {
  background-color: black;
}

a {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.link {
  color: aqua;
  text-decoration-color: aqua;
}

.contentDiv {
  position: relative;
}

@keyframes bouncing-down {
  0% {bottom: 0;}
  50% {bottom: 20px;}
  100% {bottom: 0;}
}

@keyframes bouncing-up {
  0% {top: 0;}
  50% {top: 20px;}
  100% {top: 0;}
}

.down_arrow {
  animation: bouncing-down 1s infinite ease-in-out;
  bottom: 0;
  display: block;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.up_arrow {
  animation: bouncing-up 1s infinite ease-in-out;
  top: 0;
  display: block;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.footer {
  color: gray;
}

@media screen and (max-width: 800px) {
  #menu {
    visibility: hidden;
  }
  body {
    padding-top: 50px;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    visibility: hidden;
  }
  #contact {
    height: 100%;
  }
}
