body, html {
  height: 100%;
  margin: 0;
  background-color: black;
}

.navbar {
  background-color: #212529;
}

.jumbotron {
  margin: 0;
}

.bg {
  background: #360033;
  background: -webkit-linear-gradient(to right, #0b8793, #360033);
  background: linear-gradient(to right, #0b8793, #360033);
  height: 100%;
}

.bg h1 {
  font-size: 9vh;
}

#intro {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro-row, .mywebsite-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home, #intro, #about, #critique, #tutorials, #links {
  color: white;
}

#about {
  background: #373B44;
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);
  background: linear-gradient(to right, #4286f4, #373B44);
}

.col-sm-6, .col-sm-7 {
  text-align: justify;
  margin-left: 2%;
}

.link {
  color: darkblue;
}

#critique {
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  color: white;
}

#tutorials {
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  background: linear-gradient(to right, #A43931, #1D4350);
}

.tutorial-article {
  margin-bottom: 7%;
}

#links {
  background: #C04848;
  background: -webkit-linear-gradient(to left, #480048, #C04848);
  background: linear-gradient(to left, #480048, #C04848);
}

#links .col-sm-6 {
  border-bottom: 2px solid gray;
}

#links img {
  margin-top: 3%;
}

#menu {
  position: fixed;
  z-index: 1;
  right: 10%;
  top: 30%;
}

li {
  list-style-type: none;
  margin-bottom: 15%;
}

a:hover {
  color: white;
}

.active, #menu ul li a:hover  {
  background-color: black;
}

.contentDiv {
  position: relative;
}

@keyframes bouncing-down {
  0% {bottom: 0;}
  50% {bottom: 20px;}
  100% {bottom: 0;}
}

@keyframes bouncing-up {
  0% {top: 0;}
  50% {top: 20px;}
  100% {top: 0;}
}

.down_arrow {
  animation: bouncing-down 1s infinite ease-in-out;
  bottom: 0;
  display: block;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.up_arrow {
  animation: bouncing-up 1s infinite ease-in-out;
  top: 0;
  display: block;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.footer {
  background-color: black;
}

@media screen and (max-width: 800px) {
  #menu {
    visibility: hidden;
  }
  body {
    padding-top: 50px;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    visibility: hidden;
  }
}