body, html {
  height: 100%;
  background-image: url('./pictures/network-3357642_1920.jpg');
}

body {
  padding-top: 50px;
}

.navbar {
  background-color: black;
}

.container {
  background-color: black;
}

.title {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: gray;
}

.center {
  text-align: center;
}

.col-sm-6, .col-sm, .col-sm-9, .col-sm-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.text {
  text-align: justify;
}

.border-line {
  border-left: 2px solid teal;
}

#learning, #help, #tools {
  margin-bottom: 10%;
}

#images {
  padding-bottom: 2%;
}

.footer {
  background-color: black;
}