body, html {
  height: 100%;
}

body {
  padding-top: 50px;
}

.navbar {
  background-color: black;
}

.title {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.center {
  text-align: center;
}

.col-sm-6, .col-sm {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
}

#learning, #help, #tools, #images {
  margin-bottom: 10%;
}

.footer {
  background-color: black;
}