body, html {
  margin: 0;
  background-color: black;
  font-family: 'Slabo 27px', serif;
  font-size: 105%;
}
  
.jumbotron {
  background: #1f4037;
  background: -webkit-linear-gradient(to left, #99f2c8, #1f4037);
  background: linear-gradient(to left, #99f2c8, #1f4037);
  color: white;
  margin: 0;
  text-align: justify;
}

code {
  background-color: white;
}
    
.link {
  color: aqua;
  text-decoration: underline;
  text-decoration-color: aqua;
}
  
a:hover {
  background-color: black;
}