body, html {
  height: 100%;
}
  
body {
  padding-top: 50px;
}
  
.navbar {
  background-color: #212529;
}

.container {
  background-color: white;
}

.title {
  padding-top: 5%;
  text-align: center;
}

.subtitle {
  padding-bottom: 5%;
  text-align: center;
}

.article {
  margin-bottom: 7%;
}

a, a:hover {
  color: black;
}

.img-fluid {
  margin-top: 2%;
}

.col-md-9 {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.col-md-9 p {
  margin-top: 2%;
  text-align: justify;
  font-family: 'serif';
  font-size: 110%;
}

.footer .container, .footer {
  background-color: black;
}