body, html {
  height: 100%;
  background-image: url('./pictures/network-3357642_1920.jpg');
}
  
body {
  padding-top: 50px;
}
  
.navbar {
  background-color: black;
}

.container {
  background-color: black;
}

.title {
  padding-top: 5%;
  color: gray;
  text-align: center;
}

.subtitle {
  padding-bottom: 5%;
  color: gray;
  text-align: center;
}

.article {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 7%;
}

.img-fluid {
  margin-top: 2%;
}

.col-md-10 p {
  margin-top: 2%;
  color: gray;
  text-align: justify;
}

.footer {
  background-color: black;
}