body, html {
  margin: 0;
  background-color: black;
}

.jumbotron {
  background: #348F50;
  background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
  background: linear-gradient(to right, #56B4D3, #348F50);
  color: white;
  margin: 0;
}

a {
  color: darkblue;
}

code {
  background-color: white;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#menu {
  position: fixed;
  z-index: 1;
  right: 10%;
  top: 30%;
}

#menu li {
  list-style-type: none;
  margin-bottom: 15%;
}

a:hover {
  color: white;
}

#menu ul li a:hover  {
  background-color: black;
}