body, html {
  height: 100%;
}
    
body {
  padding-top: 50px;
}
    
.navbar {
  background-color: black;
}

.container {
  background-color: white;
}
    
.title {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
  
.footer .container, .footer {
  background-color: black;
}